<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label>Как вас зовут?</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Кого вы любите больше?</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="cat" checked>Кошек</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="dog">Собак</label>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

</body>
</html>